services:
  recon-ng:
    build:
      context: ./kali
      dockerfile: Dockerfile
    container_name: recon-ng
    tty: true
    stdin_open: true
    restart: "no"
    # ENTRYPOINT kommt aus dem Dockerfile: ["recon-ng"]
    # (kein command nötig; du kannst beim "docker compose run" trotzdem Befehle anhängen)

    environment:
      - HOME=/data

    env_file:
      - .env
      - .env.secrets

    volumes:
      - ./recon-ng-data:/data

    working_dir: /data

    read_only: true
    tmpfs:
      - /tmp
      - /run
      - /var/tmp

    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true

networks:
  recon_net:
    name: recon_net